<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head('home')}">
</head>
<body>
<nav th:replace="~{layout/layout :: nav('home')}"></nav>
<!-- Navigation-->
<!-- Header-->
<header th:replace="~{layout/layout :: header('home')}"></header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Thymeleaf로 순회하면서 각각의 제품을 표시 -->
            <div th:each="TradeboardReq : ${SellAlllist}" class="col mb-4"> <!-- 여기서 mb-4를 사용하여 하단 여백을 조절 -->
                <div class="card h-100">
                    <!-- 상품 이미지-->
                    <div class="col" th:data-tb-idx="${TradeboardReq.tb_idx}" onclick="handleImageClick(this)">
                        <div class="card h-100">
                            <img class="card-img-top" th:src="@{'/images/' + ${TradeboardReq.img_name}}" alt="..." th:idx="${TradeboardReq.tb_idx}"/>
                            <div class="text-center">
                                <h5 class="fw-bolder" th:text="${TradeboardReq.tb_title}">상품명</h5>
                                <span th:text="${TradeboardReq.tb_price}">$0.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
            function handleImageClick(element) {
             var tbIdx = element.getAttribute("data-tb-idx");
             fetch("/Trade/getTradeboardInfo?tb_idx=" + tbIdx)
             .then(response => response.json())
               .then(data => {
              window.location.href = "/Trade/productdetail?tb_idx=" + tbIdx;
            })
        .catch(error => console.error('Error fetching tradeboard info:', error));
         }
        </script>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/Trade/selllist(SellpageNum=${SellpageNum-1})}"
                           th:classappend="${SellpageNum} == 1 ? 'disabled'" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="i:${#numbers.sequence(1, countSellPage)}" class="page-item">
                        <a class="page-link" th:href="@{/Trade/selllist(SellpageNum=${i})}"
                           th:classappend="${#strings.replace(param.SellpageNum, ' ', '')} == ${i} ? 'active' : ''"
                        >[[ ${i} ]]</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/Trade/selllist(SellpageNum=${SellpageNum+1})}"
                           th:classappend="${SellpageNum} == ${countSellPage} ? 'disabled'" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>