<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head('자유게시판')}"></head>
<body>
<nav th:replace="~{layout/layout :: nav('Freeboard')}"></nav>
<!-- Header-->
<header th:replace="~{layout/layout :: header('home')}"></header>
<div class="container p-3">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>No.</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>등록일</th>
                            <th>조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="FreeboardReq, rowStat : ${list}">
                            <td class="text-center">
                                <input type="checkbox" name="fr_idx" id="" th:value="${FreeboardReq.fr_idx}"
                                       class="form-check-input" onclick="addIdx(this);">
                            </td>
                            <td th:text="${FreeboardReq.fr_idx}"></td>
                            <td>
                                <a th:href="@{/Freeboard/view(fr_idx=${FreeboardReq.fr_idx})}"
                                   th:text="${FreeboardReq.fr_title}"></a>
                            </td>
                            <td th:text="${FreeboardReq.mbr_nick}"></td>
                            <td th:text="${#temporals.format(FreeboardReq.created_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${FreeboardReq.view_count}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 검색 폼을 게시물 아래 오른쪽에 이동 -->
                <div class="col-md-4 offset-md-8">
                    <form action="/Freeboard/search" method="get">
                        <div class="input-group">
                            <input type="text" name="query" class="form-control" placeholder="제목 또는 내용을 입력하세요"/>
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                    </form>
                </div>


                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <!-- Previous 버튼 -->
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{/Freeboard/list(pageNum=${pageNum != null ? pageNum - 1 : 1})}"
                                       th:classappend="${pageNum == 1 || pageNum == null ? 'disabled' : ''}">Previous</a>
                                </li>

                                <!-- 페이지 번호들 -->
                                <li th:each="i:${#numbers.sequence(1, countPage != null ? countPage : 1)}"
                                    class="page-item">
                                    <a class="page-link"
                                       th:href="@{/Freeboard/list(pageNum=${i})}"
                                       th:classappend="${pageNum == i ? 'active' : ''}">[[ ${i} ]]</a>
                                </li>

                                <!-- Next 버튼 -->
                                <li class="page-item" th:if="${pageNum != null && pageNum < countPage}">
                                    <a class="page-link" th:href="@{/Freeboard/list(pageNum=${pageNum + 1})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a th:href="@{/Freeboard/writeform}" id="freeboardWriteForm" class="btn btn-dark">글쓰기</a>
                        <button th:onclick="doDelete()" class="btn btn-dark">삭제</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
            checkLoginStatus2();
        });

        function checkLoginStatus2() {
            var mbr_idx = sessionStorage.getItem('mbr_idx');
            var mbr_nick = sessionStorage.getItem('mbr_nick');
            if (mbr_idx == null) {
                hidefreeboardWriteForm();
            } else {
                showfreeboardWriteForm();
            }
        }

        function showfreeboardWriteForm() {
            document.getElementById('freeboardWriteForm').style.display = 'inline-block';
        }

        function hidefreeboardWriteForm() {
            document.getElementById('freeboardWriteForm').style.display = 'none';
        }
</script>