<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head('자유게시판')}"></head>
<body>
<nav th:replace="~{layout/layout :: nav('Freeboard')}"></nav>
<header th:replace="~{layout/layout :: header('home')}"></header>
<div class="container p-3">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>No.</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>등록일</th>
                            <th>조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="FreeboardReq, rowStat : ${list}">
                            <td class="text-center">
<!--                                <input type="checkbox" name="fr_idx" id="" th:value="${FreeboardReq.fr_idx}"-->
<!--                                       class="form-check-input" onclick="addIdx(this);">-->
                            </td>
                            <td th:text="${FreeboardReq.fr_idx}"></td>
                            <td>
                                <a th:href="@{/Freeboard/view(fr_idx=${FreeboardReq.fr_idx})}"
                                   th:text="${FreeboardReq.fr_title}"></a>
                            </td>
                            <td th:text="${FreeboardReq.mbr_nick}"></td>
                            <td th:text="${#temporals.format(FreeboardReq.created_at, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${FreeboardReq.view_count}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 검색 폼을 게시물 아래 오른쪽에 이동 -->
                <div class="col-md-4 offset-md-8">
                    <form action="/Freeboard/search" method="get">
                        <div class="input-group">
                            <input type="text" name="query" class="form-control" placeholder="제목 또는 내용을 입력하세요"/>
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                    </form>
                </div>


                <div class="row">

                    <div class="col d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{/Freeboard/list(pageNum=${pageNum != null ? pageNum - 1 : 1})}"
                                       th:classappend="${pageNum == 1 || pageNum == null ? 'disabled' : ''}">Previous</a>
                                </li>

                                <li th:each="i:${#numbers.sequence(1, countPage != null ? countPage : 1)}"
                                    class="page-item">
                                    <a class="page-link" th:href="@{/Freeboard/list(pageNum=${i})}"
                                       th:classappend="${pageNum == i ? 'active' : ''}">[[ ${i} ]]</a>
                                </li>

                                <li class="page-item" th:if="${pageNum != null && pageNum < countPage}">
                                    <a class="page-link" th:href="@{/Freeboard/list(pageNum=${pageNum + 1})}">Next</a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a th:href="@{/Freeboard/writeform}" class="btn btn-dark">글쓰기</a>
<!--                        <button th:onclick="doDelete()" class="btn btn-dark">삭제</button>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    let idx = [];

    function addIdx(obj) {
        let temp = $(obj).val();
        if (idx.indexOf(temp) !== -1) {
            let index = idx.indexOf(temp);
            if (index !== -1) {
                idx.splice(index, 1);
            }
        } else {
            idx.push(temp);
        }
    }

    function doDelete(){
        const aa = {
            url:'/board/delete',
            type:'post',
            contentType: "application/json",
            dataType: 'json', // 추가
            data: JSON.stringify({idx:idx}),
            success:function(res){
                window.location.href='/board/list';
            },
            error:function(e){
                console.log(e);
            }
        }
        $.ajax( aa );
    }

</script>
</html>