<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head('자유게시판::글쓰기')}">
</head>
<body>
<nav th:replace="~{layout/layout :: nav('Freeboard')}"></nav>
<div class="container p-3">
    <h1>글쓰기</h1>
    <div class="row">
        <div class="col">
            <form action="/Freeboard/writeproc" method="post" th:object="${FreeboardReq}">
                <!--                <div class="mb-3">-->
                <!--                    <label for="title" class="form-label">Title</label>-->
                <!--                    <input type="text" name="title" id="title" placeholder="title"-->
                <!--                           th:field="*{fr_title}"-->
                <!--                           th:class="${#fields.hasErrors('fr_title')}? 'form-control is-invalid':'form-control' "-->
                <!--                           th:classappend="${first != 'true'} ? 'is-valid'"-->
                <!--                    />-->
                <!--                    <p th:if="${#fields.hasErrors('fr_title')}" th:errors="*{title}" class="invalid-feedback"></p>-->
                <!--                </div>-->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" placeholder="title"
                           th:field="*{fr_title}"
                           th:class="${#fields.hasErrors('fr_title')} ? 'form-control is-invalid' : 'form-control'"
                           th:classappend="${first != 'true'} ? ' is-valid' : ''"
                    />
                    <p th:if="${#fields.hasErrors('fr_title')}" th:errors="*{fr_title}" class="invalid-feedback"></p>
                </div>

                <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea name="content" class="form-control fieldError" id="content" rows="3"
                              th:field="*{fr_content}"
                              th:class="${#fields.hasErrors('fr_content')}? 'form-control is-invalid':'form-control' "
                              th:classappend="${first != 'true'} ? 'is-valid'"></textarea>
                    <p th:if="${#fields.hasErrors('fr_content')}" th:errors="*{content}" class="invalid-feedback"></p>
                </div>

                <div class="mb-3">
                    <label for="mbr_idx" class="form-label">Mbr_idx</label>
                    <input name="mbr_idx" type="text" class="form-control" id="mbr_idx" placeholder="mbr_idx"
                           th:field="*{mbr_idx}" readonly
                           th:class="${#fields.hasErrors('mbr_idx')}? 'form-control is-invalid':'form-control' "
                           th:classappend="${first != 'true'} ? 'is-valid'" />
                    <p th:if="${#fields.hasErrors('mbr_idx')}" th:errors="*{mbr_idx}" class="invalid-feedback"></p>
                </div>


                <!--                <div class="mb-3">-->
                <!--                    <label for="mbr_nick" class="form-label">name</label>-->
                <!--                    <input name="mbr_nick" type="text" class="form-control" id="mbr_nick" placeholder="mbr_nick"-->
                <!--                           th:field="*{mbr_nick}"-->
                <!--                           th:class="${#fields.hasErrors('mbr_nick')}? 'form-control is-invalid':'form-control' "-->
                <!--                           th:classappend="${first != 'true'} ? 'is-valid'"/>-->
                <!--                    <p th:if="${#fields.hasErrors('mbr_nick')}" th:errors="*{mbr_nick}" class="invalid-feedback"></p>-->
                <!--                </div>-->

                <div class="mb-3 row justify-content-between">
                    <div class="col-3">
                        <input type="submit" class="btn btn-dark" value="저장"/>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <a th:href="@{/Freeboard/list(pageNum=1)}" class="btn btn-dark">목록</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 세션 스토리지에서 mbr_idx 가져오기
        var mbr_idx = sessionStorage.getItem('mbr_idx');

        // 가져온 mbr_idx를 해당하는 input 필드에 할당
        document.getElementById('mbr_idx').value = mbr_idx;
    });
</script>
</body>
</html>